@import url('https://fonts.googleapis.com/css?family=Dancing Script');
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* The image used */
    /*background-image: url("../bestfriend.jpg");*/

    min-height: 380px;

/* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-size: 100%; */
    margin: 0;
}

* {
    box-sizing: border-box;
}



/* Add styles to the form container */
.container {
    block-size: 40%;
    position: absolute;
    bottom: 40%;
    right: 50%;
    margin: 25px;
    max-width: 25%;
    padding: 50px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 6%;
    margin: 5px 0 22px 0;
    border: none;
    background:
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 50%;
}

.btn:hover {
    opacity: 1;
}

h1  {
    font-family:dancing script;
    text-align:center;
    bottom: 66%;
    font-size: 120px;
}

